*{padding: 0;
  margin: 0}
h2{font: lighter 30px verdana; 
  padding: 20px}
p{font: lighter 15px verdana; 
  padding: 6px}
span{font: lighter 15px verdana;}

head{}
header section {position: fixed;
  width: 110px;
  top:40px;
  left: 30px}
header section a{display: block; 
  text-decoration: none; 
  color: #666; 
  font: lighter 14px verdana;
				background: #84817a;
  box-shadow: 1px 1px 5px #000; 
  padding: 10px 0 10px 20px; 
  margin-bottom:15px;
  border-radius: 10px
				width:100%; 
  margin-left: -20px;
  color: #fff;
				transition: margin .7, background .7s, color .7}

header section a:hover{margin-left:-15px; 
  background:#227093;
  color: #fff;}



#info{width: 100%; 
  background-color: #696969;
  border-style: solid;
  border-width: 3px;}

#summary{width: 100%; 
  background: #fff; 
  border-style: solid;
  border-width: 3px;
  }

#edu {width: 800px;
  background: #fff;
  border-style: solid;
  border-width: 3px;
}

#edu{width: 100%; 
  background-color: #696969 ;
  padding: 10px 0px 10px 0px}

#Formacion section article{padding: 10px 0px 10px 0px}

#skill{width: 100%; 
  background: #fff;
  width: 550px;
  margin: auto; 
 
}

#skill h2,#skill section h2,{text-align: center;}
#skill section article section
{border: 2px solid #666;
  width: 100%;
  text-align:left;
  border-radius: 7px;
  width: 550px;
  margin: auto; 
}



#Exp{width: 100%; 
  padding: 10px 0px 10px 0px;
  background-color:#696969;
  border-style: solid;
border-width: 3px}

#Exp section{width: 550px; 
  margin: auto;}

#Exp section article{padding: 10px 0px 10px 0px}

#Exp section article ul li{text-align:left;
  margin-left:20px;
  text-align: justify; 
  font: lighter 12px verdana;
  
}

#rel{width: 100%; 
  padding: 10px 0px 10px 0px;
  border-style:solid;
  border-width:3px;
}
#rel section{width: 550px; margin: auto;}
#rel section article{padding: 10px 0px 10px 0px}


.three{
  column-count: 3;
}